/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}


img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  display: inline-block;
  color: #373B47;
  text-decoration: none;
  width: 20%;

}

a:hover {
  color: #E95853;


}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
article article div {
  display: inline-block;
  width: 29%;
  margin: 20px;
}

article div img {
  display: block;
  margin: 0 auto;
  overflow-y: auto;
}

footer{
  color: white;
  background: #373B47;
  padding: 1%;
  text-align: center;
}

h6, h5 {
  line-height: 5%;
  margin: 9%;
}

h2, h4 {
  text-align: center;
}

header {
  background-color: white;
  color: black;
  display: inline-block;
  height: 10%;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.etiquetas-seccion3 {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.logo {
  display: inline-block;
  left: 90%;
  position: fixed;
  width: 4%;
}

.menu {
  width: 100%;
}

.seccion3 {
  margin: 10%;
}

.triptico{
  display: inline-block;
  margin: 5%;
  position: relative;
}

#boton {
  background-color: #2ECC71;
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 10px;
  width: 17%;
}

#cuerpo_section3{
  font-size: 25px;
}

#encabezado_section3 {
  font-weight: bold;
}

#fondo-seccion2 {
  background: #F17C72;
  color: white;
  position: relative;
  text-align: center;
}

#logo {
width: inherit;
}

#section1 {
  color: #FFF;
  left: 20%;
  position: absolute;
  text-align: center;
  top: 10%;
}

#titulo_principal {
  font-size: 50px ;
  margin-bottom: 0;
}

#titulo_secundario {
  font-size: 15px ;
  margin-bottom: 60px;
}
